In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

np.random.seed(42)

In [2]:
df = pd.read_csv('classroom_actions.csv')
df.head()

                    timestamp      id       group  total_days  completed
0  2015-08-10 17:06:01.032740  610019  experiment          97       True
1  2015-08-10 17:15:28.950975  690224     control          75      False
2  2015-08-10 17:34:40.920384  564994  experiment         128       True
3  2015-08-10 17:50:39.847374  849588  experiment          66      False
4  2015-08-10 19:10:40.650599  849826  experiment          34      False

In [3]:
# Create dataframe with all control records
control_df = df.query('group == "control"')

# Compute completion rate
control_cr = control_df.query('completed == True').id.nunique() / control_df.id.nunique()

# Display completion rate
control_cr, control_ctr

NameError: name 'control_ctr' is not defined

In [ ]:
# Create dataframe with all experiment records
experiment_df = df.query('group == "experiment"')

# Compute completion rate
experiment_ctr = experiment_df.query('completed == True').id.nunique() / experiment_df.id.nunique()

# Display completion rate
experiment_ctr

In [ ]:
# Compute observed difference in completion rates
obs_diff = experiment_ctr - control_cr

# Display observed difference in completion rates
obs_diff

In [ ]:
# Create sampling distribution for difference in completion rates
# with boostrapping
diffs = []
for _ in range(10000):
    boot_sample = df.sample(df.shape[0], replace = True)
    control_df = boot_sample.query('group == "control"')
    experiment_df = boot_sample.query('group == "experiment"')
    control_cr = control_df['completed'].mean()
    experiment_ctr = experiment_df['completed'].mean()   
    diffs.append(experiment_ctr - control_cr)

In [ ]:
# convert to numpy array
diffs = np.array(diffs)

In [ ]:
# plot distribution
plt.hist(diffs);

In [ ]:
# create distribution under the null hypothesis
null_vals = np.random.normal(0, diffs.std(), diffs.size)

In [ ]:
# plot null distribution
plt.hist(null_vals);

# plot line for observed statistic
plt.axvline(x = obs_diff, color = 'red');

In [ ]:
# compute p value
(null_vals > obs_diff).mean()